@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
html {
  width: 100%;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#3b4d34), color-stop(rgba(123, 149, 158, 0.753)), to(rgba(247, 247, 247, 0)));
  background: linear-gradient(to top, #3b4d34, rgba(123, 149, 158, 0.753), rgba(247, 247, 247, 0));
  width: 100%;
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
}

body header {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/pexels-creative-vix-9754.jpg);
  margin-bottom: 50px;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav .logotype {
  width: 70%;
  padding: 20px;
}

body header nav .logotype img {
  width: 200px;
}

body header nav .menu {
  display: none;
  width: 130%;
}

body header nav .hamburgermenu {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}

body header nav .hamburgermenu .hamburger-container {
  height: 35px;
  width: 35px;
}

body header nav .hamburgermenu .hamburger-container img {
  height: 100%;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  width: 100%;
}

body .wrapper h2 {
  text-align: center;
  margin: 0;
  margin-top: 20px;
  font-size: 39pt;
  padding: 10px;
  font-family: "Playfair Display", serif;
}

body .wrapper .underline {
  width: 250px;
  height: 2px;
  background-color: #A37774;
  margin: auto;
  margin-bottom: 30px;
}

body .wrapper .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

body .wrapper .about-container .info-text {
  background-color: #FFFFFF;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .about-container .info-text h4 {
  font-size: 19pt;
  margin: 0px;
  margin-bottom: 10px;
}

body .wrapper .about-container .info-text p {
  font-size: 12pt;
  margin: 0px;
}

body .wrapper .about-container .symbol-container {
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .about-container .symbol-container img {
  height: 150px;
}

body .wrapper .tours-container {
  margin-bottom: 30px;
}

body .wrapper .tours-container article .image-first {
  background-image: url(../../assets/pexels-marco-milanesi-5899.jpg);
  background-position: center;
  height: 400px;
  width: 100%;
}

body .wrapper .tours-container article .image-second {
  background-image: url(../../assets/pexels-cliford-mervil-239822.jpg);
  background-position: center;
  height: 400px;
  width: 100%;
}

body .wrapper .tours-container article .image-third {
  background-image: url(../../assets/pexels-nina-uhlíková-725.jpg);
  background-position: center;
  height: 400px;
  width: 100%;
}

body .wrapper .tours-container article .image-fourth {
  background-image: url(../../assets/pexels-flo-maderebner-238.jpg);
  background-position: center;
  height: 400px;
  width: 100%;
}

body .wrapper .tours-container article .text-tour {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

body .wrapper .tours-container article .text-tour h3 {
  font-size: 19pt;
  margin: 20px;
  color: #A37774;
}

body .wrapper .tours-container article .text-tour p {
  margin: 0px 20px;
}

body .wrapper .tours-container article .text-tour .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

body .wrapper .tours-container article .text-tour .button-container .info-button {
  width: 100px;
  height: 30px;
  margin: 20px 5px 20px 20px;
  border: 2px solid #839788;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

body .wrapper .tours-container article .text-tour .button-container .info-button:hover {
  background-color: #839788;
  cursor: pointer;
}

body .wrapper .tours-container article .text-tour .button-container .booking {
  width: 100px;
  height: 30px;
  border: 2px solid #839788;
  background-color: #839788;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  margin: 20px 0px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

body .wrapper .tours-container article .text-tour .button-container .booking:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  body .wrapper .tours-container article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .wrapper .tours-container article .image-first {
    background-image: url(/assets/pexels-marco-milanesi-5899.jpg);
    background-position: center;
    height: 400px;
  }
  body .wrapper .tours-container .even {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

body .wrapper .shop-container {
  margin-bottom: 30px;
}

body .wrapper .shop-container .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .shop-container .item .shop-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .shop-container .item .shop-image img {
  width: 80%;
  margin-top: 30px;
}

body .wrapper .shop-container .item h5 {
  font-family: "Lato", sans-serif;
  font-size: 12pt;
}

body .wrapper .shop-container .item .buy-button {
  width: 100px;
  height: 30px;
  border: 2px solid #839788;
  background-color: #839788;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

body .wrapper .shop-container .item .buy-button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

body .wrapper .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .wrapper .contact-wrapper .contact {
  font-family: "Lato", sans-serif;
  font-size: 19pt;
  margin-top: 20px;
  padding: 10px;
  margin: 0px;
}

body .wrapper .contact-wrapper .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

body .wrapper .contact-wrapper .form label {
  font-family: "Lato", sans-serif;
}

body .wrapper .contact-wrapper .form input {
  width: 250px;
  height: 20px;
  font-family: "Lato", sans-serif;
}

body .wrapper .contact-wrapper .form textarea {
  width: 250px;
  height: 100px;
}

body .wrapper .contact-wrapper .form .send-button {
  width: 100px;
  height: 30px;
  border: 2px solid #839788;
  background-color: #839788;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  margin: 20px 0px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

body .wrapper .contact-wrapper .form .send-button:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

body .wrapper .contact-wrapper .map-container {
  width: 100%;
  margin-bottom: 10px;
}

body .wrapper .contact-wrapper .map-container img {
  width: 100%;
}

body .wrapper footer {
  margin-top: 30px;
  width: 100%;
  height: 130px;
  background-color: #CCCCCC;
  margin-bottom: 0px;
}

body .wrapper footer .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

body .wrapper footer .contact-container .contact {
  font-family: "Lato", sans-serif;
  font-size: 19pt;
  margin-top: 20px;
  padding: 10px;
}

body .wrapper footer .contact-container p {
  margin: 4px;
}

body .wrapper footer .contact-container .media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  height: 70px;
}

body .wrapper footer .contact-container .media-container img {
  width: 30px;
}

@media screen and (min-width: 640px) {
  body header nav .menu {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav .menu ul {
    width: 100%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 15px;
    margin-right: 40px;
  }
  body header nav .menu ul li {
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
  }
  body header nav .menu ul li a {
    color: black;
    text-decoration: none;
  }
  body header nav .menu ul li a a:visited {
    color: black;
  }
  body header nav .hamburgermenu {
    display: none;
  }
  body .wrapper {
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
  }
  body .wrapper .about-container {
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 15px;
    padding: 0px 20px;
  }
  body .wrapper .about-container .symbol-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120%;
    height: 300px;
  }
  body .wrapper .shop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  body .wrapper {
    width: 940px;
  }
}

@media screen and (min-width: 1440px) {
  body .wrapper {
    width: 1240px;
  }
}
/*# sourceMappingURL=style.css.map */